


/ {

    chosen {
        //zephyr,console = &cdc_acm_uart0;
        //zephyr,shell-uart = &cdc_acm_uart0;

        zephyr,console = &usart2;
        zephyr,shell-uart= &usart2;



    };

    zephyr,user {
        io-channels = <&adc4 15>;
    };



    aliases {
        led0 = &blue_led_1;
        led1 = &green_led_1;
        led2 = &red_led_1;

    };

    fstab {
        compatible = "zephyr,fstab";
        status = "okay";
        lfs1: lfs1 {
            compatible = "zephyr,fstab,littlefs";
            status = "okay";
            read-size = <32>;
            prog-size = <32>;
            cache-size = <256>;
            lookahead-size = <64>;
            block-cycles = <512>;
            partition = <&storage_partition>;
            mount-point = "/lfs";
            //automount;
        };
    };

};

&vref1 {
    status = "okay";
};

&zephyr_udc0 {
    status = "disabled";
    cdc_acm_uart0: cdc_acm_uart0_ {
        compatible = "zephyr,cdc-acm-uart";
    };
};

&i2c1_scl_pb6 {
    bias-pull-up;
};
&i2c1_sda_pb7 {
    bias-pull-up;
};


&usart2{
     status="okay";
     pinctrl-0 = <&usart2_tx_pa2>, <&usart2_rx_pa3>;

};

&i2c1 {
    status = "okay";

    sensor_sht40: sensor_sht40@44 {
        status = "okay";
        compatible = "sensirion,sht4x";
        reg = <0x46>;
        repeatability = <2>;
    };

};


&adc1 {
    status = "okay";
};
&adc4 {
    status = "okay";
    pinctrl-0 = <&adc4_in15_pd11>;
    #address-cells = <1>;
    #size-cells = <0>;
    channel@14 {
        reg = <0>;
        zephyr,gain = "ADC_GAIN_1";
        zephyr,reference = "ADC_REF_INTERNAL";
        //zephyr,vref-mv = <750>;
        zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;
        zephyr,resolution = <12>;
        //zephyr,oversampling = <4>;
    };
};


&octospi1 {
    status = "okay";
    pinctrl-0 =<&octospim_p1_ncs_pa4
    &octospim_p1_clk_pe10
    &octospim_p1_io0_pb1
    &octospim_p1_io1_pb0
    &octospim_p1_io2_pa7
    &octospim_p1_io3_pa6>;
    
    pinctrl-names = "default";
    
    w25q128jvs: ospi-nor-flash@0 {
        compatible = "st,stm32-ospi-nor";
        reg = <0>;
        size = <DT_SIZE_M(64)>; /* 512 Mbits */
        data-rate = <OSPI_STR_TRANSFER>; /* access in DTR */
        ospi-max-frequency = <DT_FREQ_M(6)>;
        spi-bus-width=<OSPI_QUAD_MODE>;
        jedec-id= [ EF 40 17 ];
        status = "okay";
        //four-byte-opcodes;
        partitions {
            compatible = "fixed-partitions";
            #address-cells = <0x1>;
            #size-cells = <0x1>;
            storage_partition: partition@0 {
                label = "storage";
                reg = <0x0 DT_SIZE_K(20)>;
                /*phandle = <0x19>;*/
            };
        };
    };
};

/**OCTOSPI1 GPIO Configuration
PE10     ------> OCTOSPIM_P1_CLK
PA4     ------> OCTOSPIM_P1_NCS
PA6     ------> OCTOSPIM_P1_IO3
PA7     ------> OCTOSPIM_P1_IO2
PB0     ------> OCTOSPIM_P1_IO1
PB1     ------> OCTOSPIM_P1_IO0
 */